<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Create User</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Create User</h1>-->
<!--<form method="post" action="/users">-->
<!--  <label for="id">Id:</label>-->
<!--  <input type="text" id="id" name="id"><br>-->
<!--  <label for="username">Username:</label>-->
<!--  <input type="text" id="username" name="username"><br>-->
<!--  <label for="password">Password:</label>-->
<!--  <input type="password" id="password" name="password"><br>-->
<!--  <label for="role">Role:</label>-->
<!--  <input type="text" id="role" name="role"><br>-->
<!--  <button type="submit">Create User</button>-->
<!--</form>-->
<!--<a th:href="@{'/delete_user/'}"><button type="button">Delete user</button></a>-->
<!--</body>-->
<!--</html>-->
